
@model ZeroHunger42915.Models.Employee

<table>
    <tr>
        <th>Employee ID</th>
        <th>Full Name</th>
        <th>Mobile No</th>
    </tr>
    <tr>
        <td>@Model.EmployeeID</td>
        <td>@Model.FullName</td>
        <td>@Model.MobileNo</td>
    </tr>
</table>
