@model ZeroHunger42915.ViewModel.EmployeeTasksViewModel


<div style="text-align: center;">
    <h2>Employee Details</h2>
    @Html.Partial("_EmployeeDetails", Model.Employee)
</div>

<br />
<br />

<div style="text-align: center;">
    <h2>Assigned Tasks</h2>
    @Html.Partial("_AssignedTasks", Model.AssignedTasks)
</div>



<br />
<br />

<form method="post" action="@Url.Action("Logout", "Employee")">
    @Html.AntiForgeryToken()

    <input type="submit" value="Logout" class="logout-button" />
</form>
