@model ZeroHunger42915.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <label for="employeeId">Employee ID:</label>
        <input type="number" id="employeeId" name="employeeId" required>
    </div>

    <br />

    <div>
        <label for="employeeName">Name:</label>
        <input type="text" id="employeeName" name="employeeName" required>
    </div>

    <br />

    <input type="submit" value="Login" />
}