
@{
    ViewBag.Title = "Education";
}



<main>


    <h1>Education</h1>

    <h2>B.Sc:</h2>
    <ul>
        <li>American International University - Bangladesh (2020-Present)</li>
        <li>CSE in Software Engineering</li>
        <li>CGPA 3.92</li>
    </ul>

    <h2>HSC:</h2>
    <ul>
        <li>Birshreshtha Munshi Abdur Rouf Public College</li>
        <li>HSC 2019, Group - Science, Board - Dhaka</li>
        <li>GPA 4.58</li>
    </ul>

    <h2>SSC:</h2>
    <ul>
        <li>Motijheel Govt. Boys' High School</li>
        <li>SSC 2017, Group - Science, Board - Dhaka</li>
        <li>GPA 5.00</li>
    </ul>


</main>

