
@{
    ViewBag.Title = "Index";
}



<main>
    <h1>User Information</h1>
    <ul>
        <li><strong>Name:</strong> Sudarshan Saha Bishal</li>
        <li><strong>ID:</strong> 20-42915-1</li>
        <li><strong>E-mail:</strong> sudarshansaha@gmail.com</li>
        <li><strong>Contact No:</strong> +880 1234569870</li>
    </ul>


</main>

