
@{
    ViewBag.Title = "References";
}

<style>
 
    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

        footer ul li {
            display: inline;
            margin-right: 20px; 
        }

           
            footer ul li a {
                text-decoration: none;
                color: #007bff; 
            }


    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 2px solid black;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }
</style>

<main>
    <h1>References</h1>

    <ul>
        <li>
            <strong>Name:</strong> TANVIR AHMED<br>
            <strong>Position:</strong> LECTURER, Faculty, Computer Science<br>
            <strong>Email:</strong> tanvir.ahmed@aiub.edu<br>
            <strong>Department:</strong> Faculty, Computer Science<br>
            <strong>Institution:</strong> American International University - Bangladesh
        </li>
        <li>
            <strong>Name:</strong> DR. MD. ASRAF ALI<br>
            <strong>Position:</strong> PROFESSOR, Faculty, Computer Science<br>
            <strong>Email:</strong> asrafali@aiub.edu<br>
            <strong>Department:</strong> Faculty, Computer Science<br>
            <strong>Institution:</strong> American International University - Bangladesh
        </li>
    </ul>

    <footer>
        <ul>
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("Education", "Education")</li>
            <li>@Html.ActionLink("Personal Info", "PersonalInfo")</li>
            <li>@Html.ActionLink("Projects", "Projects")</li>
        </ul>
    </footer>
</main>

