
@{
    ViewBag.Title = "References";
}



<main>
    <h1>References</h1>

    <ul>
        <li>
            <strong>Name:</strong> TANVIR AHMED<br>
            <strong>Position:</strong> LECTURER, Faculty, Computer Science<br>
            <strong>Email:</strong> tanvir.ahmed@aiub.edu<br>
            <strong>Department:</strong> Faculty, Computer Science<br>
            <strong>Institution:</strong> American International University - Bangladesh
        </li>
        <li>
            <strong>Name:</strong> DR. MD. ASRAF ALI<br>
            <strong>Position:</strong> PROFESSOR, Faculty, Computer Science<br>
            <strong>Email:</strong> asrafali@aiub.edu<br>
            <strong>Department:</strong> Faculty, Computer Science<br>
            <strong>Institution:</strong> American International University - Bangladesh
        </li>
    </ul>

  
</main>

